In [50]:
import pandas as pd
import numpy as np

In [23]:
data = {
    "Outlook":["Rainy", "Rainy", "Overcast", "Sunny", "Sunny", "Sunny", "Overcast", "Rainy", "Rainy", "Sunny"],
    "Temperature":["Hot", "Hot", "Hot", "Mild", "Cool", "Cool", "Cool", "Mild", "Cool", "Mild"],
    "Humidity": ["High","High","High","High", "Normal","Normal","Normal","High", "Normal","Normal"],
    "Windy": ["False", "True", "False","False","False", "True", "True", "False","False","False"],
    "Play Golf": ["No", "No", "Yes", "Yes", "Yes", "No", "Yes","No", "Yes", "Yes"]
}

In [24]:
df = pd.DataFrame(data)

In [26]:
df.drop(["Outlook", "Humidity"], axis=1)

  Temperature  Windy Play Golf
0         Hot  False        No
1         Hot   True        No
2         Hot  False       Yes
3        Mild  False       Yes
4        Cool  False       Yes
5        Cool   True        No
6        Cool   True       Yes
7        Mild  False        No
8        Cool  False       Yes
9        Mild  False       Yes

In [27]:
df.head()

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes

In [30]:
df[df["Outlook"] == "Rainy"].reset_index()

   index Outlook Temperature Humidity  Windy Play Golf
0      0   Rainy         Hot     High  False        No
1      1   Rainy         Hot     High   True        No
2      7   Rainy        Mild     High  False        No
3      8   Rainy        Cool   Normal  False       Yes

In [37]:
df[(df["Outlook"] == "Rainy") & (df["Temperature"] == "Hot")].reset_index()

   index Outlook Temperature Humidity  Windy Play Golf
0      0   Rainy         Hot     High  False        No
1      1   Rainy         Hot     High   True        No

In [38]:
df[(df["Outlook"] == "Rainy") | (df["Temperature"] == "Hot")].reset_index()

   index   Outlook Temperature Humidity  Windy Play Golf
0      0     Rainy         Hot     High  False        No
1      1     Rainy         Hot     High   True        No
2      2  Overcast         Hot     High  False       Yes
3      7     Rainy        Mild     High  False        No
4      8     Rainy        Cool   Normal  False       Yes

In [47]:
splitted_data = df[df["Outlook"] == "Rainy"].reset_index()
splitted_data

   index Outlook Temperature Humidity  Windy Play Golf
0      0   Rainy         Hot     High  False        No
1      1   Rainy         Hot     High   True        No
2      7   Rainy        Mild     High  False        No
3      8   Rainy        Cool   Normal  False       Yes

In [60]:
np_array = splitted_data["Play Golf"].values
unique, counts = np.unique(np_array, return_counts=True)

In [62]:
unique, counts

(array(['No', 'Yes'], dtype=object), array([3, 1], dtype=int64))

In [64]:
prob = {}
prob[unique[0]] = counts[0]/counts.sum()
prob[unique[1]] = counts[1]/counts.sum()

print(prob)

{'No': 0.75, 'Yes': 0.25}

In [81]:
df.to_csv("./data.csv")#, index=False)

In [82]:
pd.read_csv("./data.csv", index_col="Unnamed: 0")

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes
5     Sunny        Cool   Normal   True        No
6  Overcast        Cool   Normal   True       Yes
7     Rainy        Mild     High  False        No
8     Rainy        Cool   Normal  False       Yes
9     Sunny        Mild   Normal  False       Yes