In [15]:
https://www.geeksforgeeks.org/binary-search/

In [12]:
a = 10

In [13]:
for i in range(10):
    a+=1
    print
    if i > 5:
        raise NameError

NameError:

In [14]:
a

17

In [1]:
l = [1,2,3,4,5] # iterable
for el in l:
    print(el)

1
2
3
4
5

In [2]:
itr = iter(l)
type(itr)

list_iterator

In [8]:
next(itr)

StopIteration:

In [12]:
def func(a, arr=[]):
    arr.append(a)
    print(arr)

In [13]:
func(3)

[3]

In [14]:
func(4, [1,2,3])

[1, 2, 3, 4]

In [15]:
func(4)

[3, 4]

In [18]:
def func(a, arr=[]):
    arr.append(a)
    print(arr)
    print(id(a), id(arr))


print(func(2))

print(func(3, [2, 3, 4]))

print(func(3))
print(func(4))

[2]
140719089059536 2092379494592
None
[2, 3, 4, 3]
140719089059568 2092368431040
None
[2, 3]
140719089059568 2092379494592
None
[2, 3, 4]
140719089059600 2092379494592
None

In [17]:
l1 = [1,2]
l2 = l1
l2.append(4)
l2

[1, 2, 4]

# OOP

In [22]:
class Dog:

    pass

In [20]:
a = 3
print(type(a))

<class 'int'>

In [21]:
l = [ 1,2 ,3]
print(type(l))

<class 'list'>

In [23]:
dog1 = Dog()
print(type(dog1))

<class '__main__.Dog'>

In [24]:
dog1.name = 'Tyson'
dog1.breed = 'Labrador'

In [25]:
dog1.name

'Tyson'

In [26]:
dog2 = Dog()
dog2.name = 'Tom'
dog2.breed = "pitbull"
print(dog2.name, dog2.breed)

Tom pitbull

In [27]:
class Dog:

    def __init__(arg, name):
        arg.name = name

In [29]:
d1 = Dog('Tyson')

In [30]:
print(d1.name)

Tyson

In [32]:
d2 = Dog('bruce')

In [33]:
print(d2.name)

bruce

In [34]:
d1 is d2

False

In [74]:
class Dog:

    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        d1 = Dog('Tyson', 'Lab')
        print(self.name, "is barking")

    def print_properties(self):
        print(self.name, self.breed)

In [70]:
d1 = Dog('Tyson', 'Lab')

In [71]:
d1.name

'Tyson'

In [72]:
d2 = Dog('Tyson2', 'Lab')
d2.name

'Tyson2'

In [73]:
d1.bark()

<class '__main__.Dog'>
Tyson is barking

In [81]:
class myclass:

    def __init__(self, val):
        self.val = val

    def func(self):
        print("inside func")
        # print(val)

In [82]:
obj1 = myclass(20)
obj1.val

20

In [83]:
obj1.func()

inside func

In [79]:
myclass.func()

inside func

In [80]:
print(myclass.val)

AttributeError: type object 'myclass' has no attribute 'val'

In [91]:
class Fan:

    brand = "Phillips" # class variable
    
    def __init__(self, blades, color):
        self.blades = blades
        self.color = color

In [92]:
f1 = Fan(3, 'white')
f2 = Fan(3, 'black')

In [93]:
f1.blades, f1.color, f1.brand

(3, 'white', 'Phillips')

In [88]:
f1.brand = 'b2'

In [90]:
f2.brand, f1.brand

('Phillips', 'b2')

In [94]:
Fan.brand = "b3"

In [95]:
f1.brand, f2.brand

('b3', 'b3')

In [100]:
class myclass1:

    var = 40

    def __init__(self, val):
        self.var1 = val

In [104]:
o1 = myclass1(10)
o2 = myclass1(20)

In [105]:
o1.var

40

In [106]:
o2.var

40

In [107]:
o1.var = 50
o1.var, o2.var

(50, 40)

In [108]:
myclass1.var

40

In [109]:
myclass1.var = 70
o1.var, o2.var

(50, 70)

In [110]:
o2.var = 2

## EMS

In [209]:
class Employee:

    empid = 0

    def __init__(self, name, salary, desg, age, dept):
        self.id = Employee.empid+1
        self.name = name
        self.salary = salary
        self.designation = desg
        self.age = age
        self.dept = dept
        Employee.empid += 1

In [210]:
e1 = Employee('princey1', 500000, 'mentor', 20, 'class')
e2 = Employee('princey2', 500000, 'mentor', 20, 'dev')
e3 = Employee('princey3', 500000, 'mentor', 20, 'dev')
e4 = Employee('princey4', 500000, 'mentor', 20, 'finance')
e5 = Employee('princey5', 500000, 'mentor', 20, 'finance')

In [229]:
class ems:


    def __init__(self):
        self.employees = []

    def create_user(self):
        name = input()
        salary = int(input())
        desg = input()
        age = int(input())
        dept = input()
        e = Employee(name, salary, desg, age, dept)
        self.employees.append(e)

    def delete(self, e):
        if e in self.employees:
            self.employees.remove(e)
            print(f"{e.name},  removed")
        else:
            print(f'{e.name} not found!')

    def total_salary(self):
        total = 0
        for e in self.employees:
            total += e.salary
        return total

    def give_raise(self,id, rs):
        for e in self.employees:
            if e.id == id:
                e.salary+=rs
                print('raise given!')
                break

    def department_wise_count(self):
        d = {}
        for e in self.employees:
            if d.get(e.dept,0) == 0:
                d[e.dept] = 1
            else:
                d[e.dept] += 1
        print(d)

    def total_departments(self):
        s = set()
        for e in self.employees:
            s.add(e.dept)
        print(s)

    def total_employees(self):
        return len(self.employees)

    def get_employee(self,id):
        for e in self.employees:
            if e.id == id:
                return e

In [238]:
l = [[1,3,4,5],[2],[3],[4]]
l = [e1, e2, e3]


s1 = 'hello'
s2 = 'hi'
s3 = '340055'
l2 = [s1, s2, s3]
l2

['hello', 'hi', '340055']

In [231]:
ems1 = ems()

In [232]:
len(ems1.employees)
ems1.employees = [e1,e2,e3,e4,e5]
len(ems1.employees)

5

In [233]:
e3.id

3

In [234]:
t = ems1.total_salary()
print(t)

2502000

In [226]:
e = ems1.get_employee(3)
print(e.name)

ems1.give_raise(e.id, 1000)
e.salary

princey3
raise given!

502000

In [235]:
ems1.department_wise_count()

{'class': 1, 'dev': 2, 'finance': 2}

In [236]:
ems1.total_departments()

{'class', 'dev', 'finance'}

In [237]:
ems1.total_employees()

5

In [130]:
ems1.create_user()

In [134]:
len(ems1.employees)

2

In [133]:
ems1.create_user()

In [135]:
e1 = ems1.employees[0]

In [136]:
ems1.delete(e1)

princey,  removed

In [124]:
l = [1,2,3,4]
if 4 in l:
    l.remove(4)
    print('Hi')

Hi