### Binary Search Tree

In [76]:
class Node:
    def __init__(self, val, parent):
        self.val = val
        self.parent = parent
        self.left = None
        self.right = None
        self.leaf = False

class Tree:
    def __init__(self, no_of_childs=2):
        self.no_of_childs = no_of_childs
        self.root = None
    
    @staticmethod
    def add_node(node, val):
        if(node.val < val):
            if(node.right is None):
                node.right = Node(val, node)
                return None
            return Tree.add_node(node.right, val)
        else:
            if(node.left is None):
                node.left = Node(val, node)
                return None
            return Tree.add_node(node.left, val)

    def create_bst(self, arr):
        self.root = Node(arr[0], None)
        arr.pop(0)
        for i in range(len(arr)):
            self.add_node(self.root, arr[i])

    def print_bst(self):
        q = []
        q.append(self.root)
        print(self.root.val)
        q.append(None)
        while(len(q)):
            node = q.pop(0)
            if(node == None):
                if(len(q) != 0):
                    q.append(None)
                print(end="\n->")
                continue
            if(node.left is not None):
                print(node.left.val, end=" ")
                q.append(node.left)
            else:
                print(end="  ")
            if(node.right is not None):
                print(node.right.val, end=" ")
                q.append(node.right)
            else:
                print(end="  ")
            print(end="\t")

In [77]:
tree = Tree()

In [78]:
arr = [1, 2, 5, -3, -9, 10, 12, 0, 22]
tree.create_bst(arr)

In [79]:
tree.print_bst()

1
-3 2
->-9 0 	  5
->    	    	  10
->  12
->  22
->
->

### CSV & Pandas

In [81]:
import pandas as pd

In [107]:
data = pd.read_csv("./Test/sample.csv", index_col=0)

In [108]:
type(data)

pandas.core.frame.DataFrame

In [109]:
data

                                                  Joke
ID
97   Chuck Norris doesn't throw up if he drinks too...
98   In the beginning there was nothing...then Chuc...
99   Chuck Norris has 12 moons. One of those moons ...
100  Chuck Norris grinds his coffee with his teeth ...
101  Archaeologists unearthed an old english dictio...
102  Chuck Norris ordered a Big Mac at Burger King,...
103  Chuck Norris and Mr. T walked into a bar. The ...
104  If you Google search &quot;Chuck Norris gettin...
105  Chuck Norris can drink an entire gallon of mil...
106  Little known medical fact: Chuck Norris invent...
107  Chuck Norris doesn't bowl strikes, he just kno...
108  The show Survivor had the original premise of ...
109  It takes Chuck Norris 20 minutes to watch 60 M...

In [110]:
data.head(5)

                                                  Joke
ID
97   Chuck Norris doesn't throw up if he drinks too...
98   In the beginning there was nothing...then Chuc...
99   Chuck Norris has 12 moons. One of those moons ...
100  Chuck Norris grinds his coffee with his teeth ...
101  Archaeologists unearthed an old english dictio...

In [111]:
data.shape

(13, 1)

In [113]:
data["Joke"][11]

ID
97     Chuck Norris doesn't throw up if he drinks too...
98     In the beginning there was nothing...then Chuc...
99     Chuck Norris has 12 moons. One of those moons ...
100    Chuck Norris grinds his coffee with his teeth ...
101    Archaeologists unearthed an old english dictio...
102    Chuck Norris ordered a Big Mac at Burger King,...
103    Chuck Norris and Mr. T walked into a bar. The ...
104    If you Google search &quot;Chuck Norris gettin...
105    Chuck Norris can drink an entire gallon of mil...
106    Little known medical fact: Chuck Norris invent...
107    Chuck Norris doesn't bowl strikes, he just kno...
108    The show Survivor had the original premise of ...
109    It takes Chuck Norris 20 minutes to watch 60 M...
Name: Joke, dtype: object

In [119]:
data.loc[98]

Joke    In the beginning there was nothing...then Chuc...
Name: 98, dtype: object

In [117]:
data.iloc[1]

Joke    In the beginning there was nothing...then Chuc...
Name: 98, dtype: object

In [121]:
type(data.values)

numpy.ndarray

In [123]:
data.values.dtype

dtype('O')

In [124]:
data.values[1:5]

array([['In the beginning there was nothing...then Chuck Norris Roundhouse kicked that nothing in the face and said &quot;Get a job&quot;. That is the story of the universe.'],
       ['Chuck Norris has 12 moons. One of those moons is the Earth.'],
       ['Chuck Norris grinds his coffee with his teeth and boils the water with his own rage.'],
       ['Archaeologists unearthed an old english dictionary dating back to the year 1236. It defined &quot;victim&quot; as &quot;one who has encountered Chuck Norris&quot;']],
      dtype=object)